
  button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  .modalParent {
    position: relative;
  }

  .isOpen {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 238, 229, 0.8);
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 10%;
    left: 25%;
  
    
   }
    .isClosed {
    background-color: rgba(255, 255, 255, 0.87);
    display: center;
    align-items: center;
    justify-content: center;
  }
  form {
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input[type="submit"] {
    padding: 10px 30px;
    border-radius: 5px;
    align-self: center;
    background-color: rgb(148, 181, 247);
  }
  
  .button-container {
    
    text-align: center; /* center the button horizontally */
  }
  
  label,input {
    width: 100%;
  }
  
  
  
  