.post-containers {
    background-image: linear-gradient(to bottom right, #4568dc, #b06ab3);
   
}



.welcome {
    font-size: 1.8em;
    font-weight: bold;
    font-family: serif;
    padding-top: 1.1em;
}