/* .card-container {
  width: 500px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.card-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-header {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  font-size: 36px;
}

.card-handle {
  font-family: Arial, sans-serif;
  color: #6c757d;
  margin: 0;
  font-size: 18px;
}

.card-bio {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
  color: #6c757d;
}

.card-post {
  margin-top: 20px;
  border-top: 1px solid #e6ecf0;
  padding-top: 20px;
}

.card-post-content {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}

.card-post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #6c757d
} */


/* OPTION 2 */

/* .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.card-header-container {
  display: flex;
  align-items: center;
}

.card-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 1rem;
}

.card-header {
  font-size: 2rem;
  font-weight: bold;
}

.card-bio {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.card-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.card-post {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 80%;
}

.card-post-content {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-post-date {
  font-size: 1.2rem;
  color: #a9a9a9;
}

button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
} */


.card-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  padding: 20px;
  /* padding-left: 9cm;
  padding-right: 10cm; */
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #ba5370, #f4e2d8);
}

.card-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-header {
  font-size: 2em;
  font-weight: bold;
}

.card-bio {
  font-size: 1.3em;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.card-posts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  
}

.card-post {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #141e30, #243b55);
  box-shadow: 0px 0px 10px #ccc;
}

.card-post-content {
  font-size: 1.2em;
  margin-bottom: 10px;
  line-height: 1.5;
  color: white;
}

.card-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-post-date {
  font-size: 0.8em;
  color: #999;
}

.button-react {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #713e8f;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.button-react:hover {
  background-color: #9951b2;
}
